@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kadwa:wght@400;700&family=Lato:wght@300&family=Poppins:wght@200&family=Tsukimi+Rounded:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins', sans-serif;
}
body{
    overflow-x:hidden;
}
.navbar{
    background: linear-gradient(100.3deg, #C5F8FF 0%, #E8FFE8 100%);
    height: 10vh;

}
.nav ul{
    font-size: 1em;
    font-weight: normal;
}
.header{
    background: linear-gradient(100.3deg, #C5F8FF 0%, #E8FFE8 100%);
    width: 100%;
    height: 70vh;

}
.img_1{
    margin: 0 5%;
}








.sizeK{
    margin:5% 10% 0 10%;
}
.outer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;

}
.inner{
    background:linear-gradient(100.3deg, #C5F8FF 0%, #E8FFE8 100%);
    width:50%;
    height:90%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    border-radius: 25px;
}
.weatherimg{
    margin-left:40% ;
    margin-top: 10%;
}
.home{
    margin: auto;
    width: 50%;
    overflow: hidden;
    margin-top: 5%;
}
.images_1{
    float: right;
    width: 50%;
    box-sizing: border-box;
}
.abt-text{

    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    width:50%;

}
.overview-h {
    /* background-color: red; */
    width: 100%;
    height:90%;
    padding: 5% 0;
}

.counseling{
    margin: 5% 10% 2% 8%;
}
/* .card{
    width: 100%;
    height: 95%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 100%;
    height: 40vh;
} */


